<div class="login-form">
    <div class="form-nav">
        <h2>Login</h2>
    </div>

    <form class="signupForm">
        <div class="input-wrapper username">
            <label>Username</label>
            <input name="username" type="text" placeholder="Username" required/>
        </div>
        <div class="input-wrapper password">
            <label>Password</label>
            <input name="password" placeholder="Password" type="password" required/>
        </div>
        <div class="input-wrapper">
            <button class="login" type="submit">Login</button>
        </div>
    </form>
</div>
