@import '..//..//variables';

.test-container {
    height: 100%;

    .month{
        width: 100%;
        z-index: 999;
        position: fixed;
        top: 50px;
        padding: 9px 0;
        // border-radius: 0 0 15px 15px;
        background-color: $primary;
        // box-shadow: 1px 1px 10px #333333;
        .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .select-form{
            display: flex;
            align-items: center;
            justify-content: center;
            .date-selectors{
            display: block;
            background-image: none;
            .selector, .todays-day{
                margin-left: 10px;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 37px;
                transition: all .2s ease-in-out;
                color: $textwht;
                font-family: $globalFont !important;

                @media screen and (max-width: $mid-small) {
                    font-size: 30px;
                }

                option {
                    color: $textdrk;
                }

                &:hover {
                    @media screen and (min-width: $mid-small) {
                        color: $textdrk;
                        opacity: .4;
                    }
                }

                &:active, &:focus {
                    color: $textdrk;
                }
            }
            .todays-day {
                width: 65px;
            }
            }
            .settings {
                position: absolute;
                right: 10px;
                background: transparent;
                border: none;
                color: $textwht;
                font-size: 20px;
            }
            .account_selector{
            // height: 45px;
            width: 200px;
            margin-left: 5px;
            background-color: transparent;
            border: 1px solid $primary;
            outline: none;
            font-size: 20px;
            color: $textwht;
            transition: all .2s ease-in-out;
            }
        }
        .calendar-controls{
            display: flex;
            justify-content: space-around;
            margin: 15px 0 10px;
            width: 200px;
            @media screen and (max-width: $mid-small) {
                width: 140px;
            }

            @media screen and (max-width: $sm-small) {
                width: 100px;
            }
            .prev{

            }
            .next{
                // right: 0px;
            }
            .button{
                font-weight: bold;
                background: transparent;
                border: none;
                z-index: 2;
                transition: all .2s ease-in-out;
                font-size: 12px;
                position: relative;
                color: #fff;

                &:before {
                    position: absolute;
                    font-size: 30px;
                    left: -1.5px;
                    top: -13.6px;

                    @-moz-document url-prefix() {
                    left: 2.25px;
                    }
                }

                &.current {

                }

                &.entypo-calendar {
                    &:before {
                    font-weight: 100;
                    }
                }

                @media screen and (max-width: $end-small) {
                    outline: none;
                }
            }
            .current::before {
                font-weight: 100px;

            }
            .button:hover{
                @media screen and (min-width: $mid-small) {
                color: $textdrk;
                opacity: .4;
                transition: all .2s ease-in-out;
                }
            }
        }

        .weekday-initials {
            display: flex;
            justify-content: center;
            padding: 10px 0 5px 0;

            // @media screen and (max-width: $end-small) {
            //   display: none !important;
            // }

            div {
            width: 24%;
            text-align: center;
            opacity: .45;

            &:nth-child(even) {
                border-right: 1px solid $textdrk;
                border-left: 1px solid $textdrk;
            }
            }
        }
    }

    .calendar-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 53px;
        position: relative;
        top: 107px;
    }

    .test-box {
        width: 13%;
        display: inline-block;
        height: 15%;
        flex-grow: 1;
        transition: all .3s ease-in-out;

        span {
            display: none;
        }

        .close-big-day {
            display: none;
        }

        @media screen and (min-width: 705px) {
            width: 14%;
        }
    }
    .clicked-day {
        border: 1px solid red;
        transition: all .3s ease-in-out;
    }
    .big-day {
        position: fixed;
        width: 80%;
        margin: 0 10%;
        z-index: 9999;
        background: #fff;
        height: 65.5%;
        top: 25%;
        transition: all .3s ease-in-out;

        .close-big-day {
            display: block;
            position: absolute;
            right: 5%;
            top: 5%;
            font-size: 25px;
        }
    }
}