<div id="calendar-wrapper" class="calendar-wrapper">
    <div class="calendar-navbar">
        <div class="controls">
            <select name="select" class="month-selector selector" id="month" (change)="changeCal()">
                <option *ngFor="let month of monthSelectorOptions" value="{{month.num}}" [selected]="month.num === currentMonth">{{month.name}}</option>
            </select>
            <select name="select" class="year-selector selector" id="year" (change)="changeCal()">
                <option *ngFor="let year of yearSelectorOptions" value="{{year}}" [selected]="year === currentYear">{{year}}</option>
            </select>

            <div class="calendar-controls">
                <button class="prev btn entypo-left-open" (click)="prevClick()"></button>
                <button id="todays-day" class="current btn entypo-calendar" (click)="currentClick()">{{currentDay}}</button>
                <button class="next btn entypo-right-open" (click)="nextClick()"></button>
            </div>
        </div>
        <div class="weekday-initials">
            <div class="day-of-week-label" *ngFor="let weekday of weekDayAbbrv" [ngClass]="{'show-current-weekday': currentDayofWeek === weekday.num}">{{weekday.name}}</div>
        </div>
    </div>

    <div class="calendar-container" #calendar>

        <div class="weeks row" *ngFor="let row of rows">
            <div id="day-box" class="day-box" *ngFor="let week of weekDays" #daybox (click)="clickonDay($event)">
                <button class="close-day entypo-down-open"></button>
                <div class="num-box"><span class="num-date"></span></div>
                <div class="date-value"></div>
                <div class="main-info-section">
                    <form [formGroup]="deleteItemForm" (ngSubmit)="deleteEvent()">
                        <div *ngFor="let event of events">
                            <div class="event" [ngClass]="event.eventstart_date">
                                {{event.eventtitle}} - {{event.eventdesc}}
                                <button class="entypo-minus" (click)="deleteEventButtonClick($event)" value="{{event.eventid}}"></button>
                            </div>
                        </div>
                        <input formControlName="event_input" type="text" name="event_input" class="event_input"/>
                        <!-- <button type="submit" class="delete-event">Delete</button> -->
                    </form>
                </div>
            </div>
        </div>

        <div class="bottom-of-cal-fix"> 

        </div>
    </div>

    <button class="add-item-button entypo-list-add" (click)="openForm()"></button>

    <div class="add-item-container">
        <div class="form-nav-bar">
            <h2>Place Items on Calendar</h2>
            <div class="close-form entypo-down-open" (click)="closeForm()"></div>
        </div>
        <form class="add-item-form" [formGroup]="addItemForm" (ngSubmit)="submitEvent()">
            <div class="input-wrapper item-type">
                <label>Select Type</label>
                <select formControlName="item_type">
                    <option value="1">Event</option>
                    <option value="2">Reminder</option>
                    <option value="3">Task</option>
                    <option value="4">Budget</option>
                    <option value="5">Food</option>
                </select>
            </div>

            <div class="input-wrapper frequency">
                <label>Select Frequency</label>
                <select formControlName="frequency">
                    <option value="0">Once</option>
                    <option value="1">Daily</option>
                    <option value="2">Weekly</option>
                    <option value="3">Bi-weekly</option>
                    <option value="4">Once</option>
                    <option value="5">Monthly</option>
                    <option value="6">Semi-annual</option>
                    <option value="7">Annual</option>
                </select>
            </div>

            <div class="input-wrapper item-title">
                <label>Title</label>
                <input type="text" placeholder="Title or name" formControlName="title">
            </div>

            <div class="input-wrapper event-description">
                <label class="description-label">Description</label>
                <textarea placeholder="Add description" formControlName="description"></textarea>
            </div>

            <div class="input-wrapper date-input">
                <label>Start Date</label>
                <input type="date" formControlName="start_date" />
            </div>

            <div class="input-wrapper date-input-end">
                <label>End Date</label>
                <input type="date" formControlName="end_date" />
            </div>

            <div class="input-wrapper time-input">
                <label class="time-label">Start Time</label>
                <input type="time" formControlName="start_time" />
            </div>

            <div class="input-wrapper time-input-end">
                <label class="time-label">End Time</label>
                <input type="time" formControlName="end_time" />
            </div>

            <div class="input-wrapper location-input">
                <label class="location-label">Location</label>
                <input type="text" placeholder="Location" formControlName="location">
            </div>

            <div class="input-wrapper">
                <button class="submit-form" type="submit">Enter</button>
            </div>
        </form>
    </div>

</div> 