@import '..//..//variables';

.calendar-wrapper {
    width: 100%;
    height: 100%;

    .calendar-navbar {
        position: fixed;
        width: 100%;
        background: red;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .controls {
            
            width: 100%;
            padding: 5px 0;
            display: flex;
            align-items: center;

            .selector {
                display: inline;
                margin-left: 10px;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 25px;
                transition: all .2s ease-in-out;
                color: $textwht;
                font-family: $globalFont !important;

                &:focus {
                    color: $textdrk;
                }
            }

            .calendar-controls {

                display: flex;
                justify-content: flex-end;
                width: 100%;

                .btn {
                    color: $textwht;
                    background: transparent;
                    border-radius: 5px;
                    margin: 0 5px;
                    border: 0;
                    position: relative;
                    font-size: 12px;
                    padding: 11px 11px;
                    display: flex;
                    align-items: center;

                    span {
                        padding: 6px 0 0 0;
                        font-size: 12px;
                        font-weight: bold;
                    }


                    &:before {
                        position: absolute;
                        font-size: 30px;
                        left: 3.5px;
                        top: 3px;

                        @-moz-document url-prefix() {
                            left: 2.25px;
                        }
                    }

                    &.entypo-calendar {
                        &:before {
                            font-weight: 100;
                            margin-right: 3px;
                        }
                    }
                }

            }

        }

        .weekday-initials {

            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .day-of-week-label {

                // flex: 0 0 14.285714285714286%;
                width: 14.285714285714286%;
                max-width: 14.285714285714286%;
                text-align: center;
                position: relative;
                background: $primary;
                padding: 4px 0;
                color: $textdrk;
                opacity: .5;

                &.show-current-weekday {
                    color: $textwht;
                    opacity: 1;
                    border-radius: 5px;
                    font-weight: bold;
                }

            }


        }


    }


    .calendar-container {

        width: 100%;
        height: 100%;
        padding: 5px 0;
        position: relative;
        top: 74px;

        .row {

            width: 100%;
            height: 18%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1px 0;
            padding: 1px 0;
            overflow: hidden;

            @media screen and (min-width: $end-small) {

                height: 14.285714285714286%;

            }

            @media screen and (min-width: 1000px) {

                height: 18%;

            }

            .day-box {

                width: 14.2%;
                height: 100%;
                // flex-grow: 1;
                transition: all .3s ease-in-out;
                position: relative;

                button.close-day {
                    display: none;
                }

                .date-value {
                    display: none;
                }

                .num-box {
                    display: flex;
                    width: 11.5px;
                    margin: auto;
                    padding: 4px;
                    border-radius: 100%;
                    position: relative;
                    top: 2px;
                    cursor: pointer;

                    @media screen and (min-width: $end-small) {
                        width: 18px;
                    }

                    .num-date {
                        cursor: pointer;
                        font-size: 10px;

                        @media screen and (min-width: $end-small) {
                            font-size: initial;
                        }
                    }

                    &.current-day {
                        background: $primary;
                        color: $textwht;
                    }
                }

                .main-info-section {
                    overflow: hidden;
                    height: calc(100% - 40px);
                    padding: 5px 20%;

                    @media screen and (min-width: $mid-small) {
                        padding: 5px;
                    }

                    &::-webkit-scrollbar {
                        width: 0px;
                    }

                    &.animate-events-one {
                        height: 0;
                    }

                    &.animate-events-two {
                        transition: all 1.5s ease-in-out;
                        height: calc(100% - 45px);

                        p {
                            &:hover, &:focus {
                                background: rgba(255,0,0,.8);
                                color: $textwht;
                                transition: all .2s ease-in-out;
                                button {
                                    display: inline;
                                    background: transparent;
                                    border: 0;
                                    position: absolute;
                                    right: 4%;
                                    top: -1px;
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    p {
                        font-size: 10px;
                        cursor: pointer;
                        height: 11px;
                        overflow: hidden;
                        margin: 5px 0px;
                        padding: 2px 20% 0 4%;
                        border-radius: 5px;
                        transition: all .2s ease-in-out;
                        text-align: center;
                        position: relative;

                        @media screen and (min-width: $mid-small) {
                            text-align: left;
                            font-size: 12px;
                        }

                        button {
                            display: none;

                            &:hover {
                                color: $textwht;
                            }
                        }
                    }
                }

                &.dead-month-color {
                    opacity: .3;
                    pointer-events: none;
                }

                &.clicked-day {
                    border: 1px solid $textdrk;
                    border-radius: 5px;
                    transition: all .3s ease-in-out;
                    animation-name: shrink;
                    animation-duration: .3s;
                    animation-timing-function: ease-in-out;

                    .num-date {
                        font-weight: bold;
                    }
                }

                @keyframes shrink{
                    25%  {transform: scale(.5, .5);}
                }

                &.double-click {
                    background: #fff;
                    position: fixed;
                    top: 127px;
                    bottom: 53px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    height: auto;
                    width: 100%;
                    max-width: 800px;
                    z-index: 99;
                    transition: height, width 0.3s ease-in-out;
                    border: none;
                    // animation-name: grow;
                    // animation-duration: .3s;
                    // animation-timing-function: ease-in-out;

                    @media screen and (min-width: $end-small) {
                        bottom: 50%;
                        left: 50%;
                        transform: translate(-50%, 25%);
                        height: 50%;
                        border: 1px solid #333333;
                    }

                    button.close-day {
                        display: inline;
                        position: absolute;
                        top: 2px;
                        right: 4%;
                        background: transparent;
                        border-radius: 5px;
                        border: 0;
                        cursor: pointer;

                        &:before {
                            font-size: 30px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .num-box {
                        width: 22.5px;

                        .num-date {
                            font-size: 20px;
                        }
                    }

                    .main-info-section {
                        padding: 5px 0;
                        p {
                            font-size: 16px !important;
                            height: auto !important;
                            overflow: initial !important;
                            text-align: left;
                        }
                    }
                }
                @keyframes grow{
                    // 50%  {transform: scale(.1, .1);}
                }

            }


        }

        .bottom-of-cal-fix {
            height: 53px;
        }


    }








}