

<div class="test-container">
    <div class="month">
        <div class="controls">
            <form class="select-form">
                <div class="date-selectors">
                    <select name="select" class="month-selector selector" id="month" (change)="onSelectMonthChange(months.value)">
                        <option *ngFor="let month of months" [value]="month.num" [selected]="month.num === currentMonth">{{month.name}}</option>
                    </select>
                    <select name="select" class="year-selector selector" id="year" (change)="onSelectYearChange(years.value)">
                        <option *ngFor="let year of years" [value]="year" [selected]="year === currentYear">{{year}}</option>
                    </select>
                </div>
            </form>
    
            <div class="calendar-controls">
                <button class="prev button entypo-left-open" (click)="prevButtonClick()"></button>
                <button id="todays-day" class="current button entypo-calendar" (click)="curButtonClick()" >{{day}}</button>
                <button class="next button entypo-right-open" (click)="nextButtonClick()"></button>
            </div>
        </div>
    
        <div class="weekday-initials">
            <div *ngFor="let day of daysofWeek">{{day.name}}</div>
        </div>
    
    </div>

    <div class="calendar-container">
        <div class="test-box" *ngFor="let box of boxes" (click)="dayClick($event)">
            <span class="box-ref">{{box}}</span>
            <div class="weekday"><span class="num-date"></span></div>
            <div class="main-info"></div>
            <div class="date-value"></div>
            <!-- <div class="open-day entypo-up-open"></div> -->
            <div class="close-big-day entypo-down-open"></div>
        </div>
    </div>

</div>