<header>
    <div class="layout-container">
        <nav class="nav-banner">
            <button class="menu-btn hamburger hamburger--squeeze" (click)="clickNavButton()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
                <span class="hamburger-label">Menu</span>
            </button>
            <div class="wrapper">
                <a class="logo" routerLink="/" (click)="clickLogo()">Angular Calendar App</a>
                <a class="logo profile-logo" *ngIf="dataService.loggedIn()" href="#" routerLink="/profile" (click)="clickLogo()">{{firstInitial}}{{lastInitial}}</a>
                <ul>
                    <li *ngIf="!dataService.loggedIn()"><a href="#" routerLink="/" (click)="clickLink()">Home</a></li>
                    <li *ngIf="!dataService.loggedIn()"><a href="#" routerLink="/signup" (click)="clickLink()">Signup</a></li>
                    <li *ngIf="!dataService.loggedIn()"><a href="#" routerLink="/login" (click)="clickLink()">Login</a></li>
                    <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/calendar" (click)="clickLink()">Calendar</a></li>
                    <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/profile" (click)="clickLink()">Profile</a></li>
                    <!-- <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/settings" (click)="clickLink()">Settings</a></li> -->
                    <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/login" (click)="clickLogout()">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer>
    <div class="layout-container">
        <p>Angular Calendar App &copy; 2020</p>
    </div>
</footer>