<header>
    <div class="layout-container">
        <nav class="nav-banner">
            <button class="menu-btn hamburger hamburger--squeeze" (click)="clickNavButton()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
                <span class="hamburger-label">Menu</span>
            </button>
            <div class="wrapper">
                <a class="logo" routerLink="/" (click)="clickLogo()">Angular Calendar App</a>
                <a class="logo profile-logo" *ngIf="dataService.loggedIn()" href="#" routerLink="/profile" (click)="clickLogo()">{{firstInitial}}{{lastInitial}}</a>
                <ul>
                    <li *ngIf="!dataService.loggedIn()"><a href="#" routerLink="/" (click)="clickLink()">Home</a></li>
                    <li *ngIf="!dataService.loggedIn()"><a href="#" routerLink="/signup" (click)="clickLink()">Signup</a></li>
                    <li *ngIf="!dataService.loggedIn()"><a href="#" routerLink="/login" (click)="clickLink()">Login</a></li>
                    <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/calendar" (click)="clickLink()">Calendar</a></li>
                    <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/profile" (click)="clickLink()">Profile</a></li>
                    <!-- <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/test-cal" (click)="clickLink()">Test Cal</a></li> -->
                    <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/settings" (click)="clickLink()">Settings</a></li>
                    <!-- <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/login" (click)="clickLogout()">Logout</a></li> -->
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer>
    <div class="layout-container">
        <p>Angular Calendar App &copy; 2020</p>
        <ul>
            <li *ngIf="!dataService.loggedIn()"><a href="#" routerLink="/"><span class="material-icons">home</span></a></li>
            <li *ngIf="dataService.loggedIn()" class="logo-icon"><a href="#" routerLink="/"><img src="./assets/icons/icon-72x72.png" alt="" /></a></li>
            <li *ngIf="!dataService.loggedIn()"><a href="#" routerLink="/signup"><span class="material-icons">create</span></a></li>
            <li *ngIf="!dataService.loggedIn()"><a href="#" routerLink="/login"><span class="material-icons">login</span></a></li>
            <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/calendar"><span class="material-icons">calendar_today</span></a></li>
            <!-- <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/test-cal" (click)="clickLink()">Test Cal</a></li> -->
            <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/settings"><span class="material-icons settings">settings</span></a></li>

            <li *ngIf="dataService.loggedIn()" class="profile-link"><a href="#"
            routerLink="/profile"><span>{{firstInitial}}{{lastInitial}}</span></a></li>
            <!-- <li *ngIf="dataService.loggedIn()"><a href="#" routerLink="/login"><span class="material-icons">lock</span></a></li> -->
        </ul>
    </div>
</footer>