@import '..//..//variables';

header {
    background: $primary;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;

    .nav-banner {
        
        .menu-btn {
            position: absolute;
            left: 3%;
            top: 15px;
            background: transparent;
            border: 0;
            z-index: 99999;

            &.hamburger{
                outline: 0;
                z-index: 2;
                display: flex;
                align-items: center;
                padding: 0;
                .hamburger-label{
                    display: inline;
                    margin-left: 15px;
                    color: white;
                    z-index: 2;
                    font-size: 13px;
                    @media screen and (max-width: 450px) {
                        display: none;
                    }
                }
            }

            @media screen and (min-width: $end-small) {
                display: none !important;
            }
        }
        
        .wrapper {
            position: relative;
            text-align: center;
            
            @media screen and (min-width: $end-small) {
                text-align: left;
            }
        }
        
        a.logo {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            @media screen and (min-width: $end-small) {

            }
        }

        a.profile-logo {
            padding: 8px;
            border-radius: 100%;
            background: rgba(0,0,0,.5);
            font-size: 18px;
            position: absolute;
            right: 0;
            top: -10px;
        }
        
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
            margin: 40px;
            display: none;
            
            @media screen and (min-width: $end-small) {
                flex-direction: row;
                display: flex !important;
                float: right;
                margin: 0 3em 0 0;
            }
        }
        
        li {
            @media screen and (max-width: $end-small) {
                height: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            a {
                padding: 1em;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                
                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

.layout-container {
    width: 90%;
    margin: auto;
}


footer {
    background: $primary;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
    // box-shadow: 1px -2px 10px #333333;

    p {
        color: $textwht;
        margin: 0;
    }

    .exit-fullscreen-btn, .fullscreen-btn {
        background: white;
        color: red;
        border-radius: 5px;
        position: absolute;
        right: 6%;
        top: 18px;
        border: 0;

        @media screen and (min-width: $end-small) {
            display: none !important;
        }
    }

    .exit-fullscreen-btn {
        display: none;
    }
}