@import '..//..//variables';

header {
    background: $primary;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: none;

    @media screen and (min-width: $end-small) {
        display: block;
    }

    .nav-banner {
        
        .menu-btn {
            position: absolute;
            right: 5%;
            top: 15px;
            background: transparent;
            border: 0;
            z-index: 99999;

            &.hamburger{
                outline: 0;
                z-index: 2;
                display: flex;
                align-items: center;
                padding: 0;

                &:active, &:focus {
                    opacity: 1;
                }
                .hamburger-box {
                    width: 30px;
                }
                .hamburger-inner {
                    &:before, &:after, & {
                        width: 30px;
                        height: 3px;
                        border-radius: none;
                    }
                    &:before {
                        top: -8px;
                    }
                    &:after {
                        bottom: -8px;
                    }
                }
                .hamburger-label{
                    display: inline;
                    margin-left: 15px;
                    color: $textwht;
                    z-index: 2;
                    font-size: 13px;
                    display: none;
                }

                &.is-active {
                    .hamburger-inner:after {
                        bottom: 0;
                    }
                }
            }

            @media screen and (min-width: $end-small) {
                display: none !important;
            }
        }
        
        .wrapper {
            position: relative;
            text-align: center;
            
            @media screen and (min-width: $end-small) {
                text-align: left;
            }
        }
        
        a.logo {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            &:active {
                color: $textdrk;
            }
        }

        a.profile-logo {
            padding: 8px;
            border-radius: 100%;
            background: rgba(0,0,0,.2);
            font-size: 18px;
            position: absolute;
            left: 0;
            top: -10px;

            @media screen and (min-width: $end-small) {
                right: 0;
                left: auto;
            }
        }
        
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
            margin: 40px;
            display: none;
            
            @media screen and (min-width: $end-small) {
                flex-direction: row;
                display: flex !important;
                float: right;
                margin: 0 3em 0 0;
            }
        }
        
        li {
            @media screen and (max-width: $end-small) {
                height: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            a {
                padding: 1em;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                
                &:hover {
                    background: darken($primary, 10%);
                    border-radius: 5px;
                }

                &:active {
                    color: $textdrk;
                }
            }
        }
    }
}

.layout-container {
    width: 90%;
    margin: auto;
}


footer {
    background: $primary;
    padding: .5em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
    transition: all .3s ease-in-out;
    // display: none;
    // box-shadow: 1px -2px 10px #333333;

    @media screen and (min-width: $end-small) {
        display: block;
        padding: 1em 0;
    }

    p {
        color: $textwht;
        margin: 0;
        display: none;

        @media screen and (min-width: $end-small) {
            display: block;
        }
    }

    ul {
        margin: 0 auto;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        @media screen and (min-width: $end-small) {
            display: none;
        }
    }

    li {
        width: 25%;
        text-align: center;

        &.profile-link {
            span {
                padding: 10px;
                border-radius: 100%;
                font-size: 15px;
                background: rgba(0,0,0,.2);
                font-weight: bold;
                display: inline-block;
            }
        }

        &.logo-icon {
            img {
                width: 40px;
                animation-name: pulse;
                animation-duration: 3s;
                animation-iteration-count: infinite;
            }
            @keyframes pulse {
                from { transform: scale(1.1); width: 40px; }
                50% { transform: scale(0.85); width: 40px;}
                to { transform: scale(1.1); width: 40px; }
            }
        }
    }

    a {
        color: $textdrk;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    span {
        font-size: 25px;
        display: inline-block;
        &.settings {
            animation: spin 10s linear infinite;
        }
    }
    @keyframes spin {
        0% {
            transform: rotateZ(0);
        }
        100% {
            transform: rotateZ(360deg);
        }
    }
}

.scroll-down {
    bottom: -56px;
    transition: all .3s ease-in-out;
}