<div class="profile-container">

    <div class="profile-nav">
        <h2>Hi, {{firstName}} {{lastName}}</h2>
        <!-- <a href="#" routerLink="/settings" class="settings">
            <span class="material-icons">settings</span>
        </a> -->
    </div>

    <div class="profile-info">
        <div class="profile-image-wrapper">
            <img src="./assets/icons/default-profile-icon.png" alt="" />
        </div>

        <div class="input-wrapper update">
            <label>Account Info</label>
            <!-- <button (click)="showUpdateForm()">Update Account</button> -->
            <form class="update-form" [formGroup]="updateForm" autocomplete="off" (ngSubmit)="updatedMyUser()">
                <div class="input-wrapper email">
                    <label>Email</label>
                    <input name="email-field" type="text" placeholder="{{Email}}" autocomplete="off" readonly required />
                </div>
                <div class="input-wrapper username">
                    <label>First Name</label>
                    <input formControlName="firstname" name="firstname-field" autocomplete="off" type="text"
                        placeholder="First Name" required />
                </div>
                <div class="input-wrapper username">
                    <label>Last Name</label>
                    <input formControlName="lastname" name="lastname-field" autocomplete="off" type="text"
                        placeholder="Last Name" required />
                </div>
                <div class="input-wrapper username">
                    <label>Username</label>
                    <input formControlName="username" name="username-field" autocomplete="off" type="text"
                        placeholder="Username" required />
                </div>
                <div class="input-wrapper password">
                    <label>Password</label>
                    <input formControlName="password" name="password-field" autocomplete="new-password"
                        placeholder="Password" type="password" required />
                </div>
                <div class="input-wrapper submit-buttons">
                    <button [disabled]="!updateForm.valid" class="update" type="submit">Update</button>
    
                    <button class="logout" (click)="clickLogout()">Logout</button>
                </div>
            </form>
        </div>

        <div class="input-wrapper delete">
            <label>Delete Account</label>
            <button class="delete" (click)="deleteMyUser()">Delete</button>
        </div>
    </div>
</div>

<div *ngIf="this.loading" class="loading-container">
    <div class="loading-text">
        Loading Profile <span>.</span><span>.</span><span>.</span>
    </div>
    <!-- <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->
</div>