<div class="profile-container">

    <div class="profile-nav">
        <h2>Profile</h2>
        <!-- <a href="#" routerLink="/settings" class="settings">
            <span class="material-icons">settings</span>
        </a> -->
    </div>

    

    <h1>Hi, {{firstName}} {{lastName}}</h1>

    <p>Username: {{userName}}</p>
    <p>Email: {{Email}}</p>
</div>

<div *ngIf="this.loading" class="loading-container">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>