$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : white !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

/* =================================================================
variables
================================================================= */
//Breakpoints
$sm-small: 320px;
$mid-small: 550px;
$end-small: 800px;
$max-width: 1400px;

//System variables
$primary: red;// #00B0FF;
// $primary-contrast: #005f90;
$accent: lightgray;
$textwht: #fff;
$textdrk: #fff;
$alert: red;
$background: #121212;
$buttongry: rgba(11, 0 , 0, .8);

$globalFont: 'Noto Sans', sans-serif;