<div id="calendar-wrapper" class="calendar-wrapper">
    <div class="calendar-navbar">
        <div class="controls">
            <select name="select" class="month-selector selector" id="month" (change)="changeCal()">
                <option *ngFor="let month of monthSelectorOptions" value="{{month.num}}"
                    [selected]="month.num === currentMonth">{{month.name}}</option>
            </select>
            <select name="select" class="year-selector selector" id="year" (change)="changeCal()">
                <option *ngFor="let year of yearSelectorOptions" value="{{year}}" [selected]="year === currentYear">
                    {{year}}</option>
            </select>

            <div class="calendar-controls">
                <button class="prev btn" (click)="prevClick()">
                    <span class="material-icons">keyboard_arrow_left</span>
                </button>
                <button id="todays-day" class="current btn" (click)="currentClick()">
                    <span class="material-icons">today</span>
                </button>
                <button class="next btn" (click)="nextClick()">
                    <span class="material-icons">keyboard_arrow_right</span>
                </button>
            </div>
        </div>
        <div class="weekday-initials">
            <div class="day-of-week-label" *ngFor="let weekday of weekDayAbbrv"
                [ngClass]="{'show-current-weekday': currentDayofWeek === weekday.num}">{{weekday.name}}</div>
        </div>
    </div>

    <div class="calendar-container" #calendar
    (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)" (swipedown)="onSwipeDown($event)">
        <div class="weeks row" *ngFor="let row of rows">
            <div id="day-box" class="day-box" *ngFor="let week of weekDays" #daybox (click)="clickonDay($event)">
                <button class="close-day">
                    <span class="material-icons close-day-icon">clear</span>
                </button>
                <span class="event-count"></span>
                <div class="num-box">
                    <span class="num-date"></span>
                </div>
                <div class="date-value"></div>
                <div class="excel-date"></div>
                <button class="prev-day">
                    <span class="material-icons prev-day-icon">keyboard_arrow_left</span>
                </button>
                <button class="next-day">
                    <span class="material-icons next-day-icon">keyboard_arrow_right</span>
                </button>
                <div class="main-info-section">
                    <div class="event-container" *ngFor="let event of events">
                        <div class="event" [attr.startDate]="event.eventstart_date"  [attr.endDate]="event.eventend_date" [attr.frequency]="event.eventfrequency" (click)="selectEvent($event)">
                            <p class="event-details title">
                                {{event.eventtitle}}
                            </p>
                            <p class="event-details description" [ngStyle]="{display: event.eventdesc ? 'inline' : 'none' }">
                                {{event.eventdesc}}
                            </p>
                            <p class="event-details location">
                                {{event.eventlocation}}
                            </p>

                            <p class="event-details frequency">
                                {{event.eventfrequency}}
                            </p>

                            <p class="event-details time">
                                <span>{{event.eventstart_time}}</span> - <span>{{event.eventend_time}}</span>
                            </p>

                            <p class="event-details end">
                                {{event.eventend_date}}
                            </p>
                            <button class="delete-event hidden" (click)="deleteEvent($event)"
                            value="{{event.eventid}}">Delete</button>
                        </div>
                    </div>
                    <form [formGroup]="deleteItemForm">
                        <input formControlName="id" type="text" name="id" class="event_input" />
                    </form>
                    <form class="update-event-form" [formGroup]="updateItemForm">
                        <div class="form-nav-bar">
                            <h2 class="form-title">Update Item</h2>
                            <div class="close-form" (click)="closeEventUpdateForm()">
                                <span class="material-icons">clear</span>
                            </div>
                        </div>
                        <div class="input-wrapper event-id-update invisible">
                            <input formControlName="id" type="text" name="id" />
                        </div>
                        <div class="input-wrapper invisible">
                            <input type="text" placeholder="User ID" formControlName="user_id">
                        </div>
                        
                        <div class="input-wrapper invisible">
                            <input type="text" placeholder="Group ID" formControlName="group_id">
                        </div>
                        <div class="input-wrapper frequency-update">
                            <label>Select Frequency</label>
                            <select formControlName="frequency" required (change)="frequencyChange($event)">
                                <option value="0">Once</option>
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Bi-weekly</option>
                                <option value="4">Monthly</option>
                                <option value="5">Semi-annual</option>
                                <option value="6">Annual</option>
                            </select>
                        </div>
                        
                        <div class="input-wrapper item-title-update">
                            <label>Title</label>
                            <input type="text" placeholder="Title or name" formControlName="title" required>
                        </div>
                        
                        <div class="input-wrapper event-description-update">
                            <label class="description-label">Description</label>
                            <textarea placeholder="Add description" formControlName="description"></textarea>
                        </div>
                        
                        <div class="input-wrapper date-input-update">
                            <label>Start Date</label>
                            <input type="date" formControlName="start_date" (change)="onStartDateChange($event)" required />
                        </div>
                        
                        <div class="input-wrapper date-input-end-update">
                            <label>End Date</label>
                            <input type="date" formControlName="end_date" required />
                        </div>
                        
                        <div class="input-wrapper time-input-update">
                            <label class="time-label">Start Time</label>
                            <input type="time" formControlName="start_time" (change)="onStartTimeChange($event)" required />
                        </div>
                        
                        <div class="input-wrapper time-input-end-update">
                            <label class="time-label">End Time</label>
                            <input type="time" formControlName="end_time" required />
                        </div>

                        <div class="input-wrapper time-all-day">
                            <input type="checkbox" (change)="allDaySelected($event)" formControlName="all_day"/><label for="all-day">All day</label>
                        </div>
                        
                        <div class="input-wrapper location-input-update">
                            <label class="location-label">Location</label>
                            <input type="text" placeholder="Location" formControlName="location">
                        </div>
                        
                        <div class="input-wrapper">
                            <button class="submit-form" type="submit" [disabled]="!updateItemForm.valid" (click)="updateEvent()">Update</button>
                        </div>

                        <div class="input-wrapper">
                            <button class="delete-event" (click)="deleteEvent($event)">Delete</button>
                        </div>
                        
                    </form>

                </div>
            </div>
        </div>

    </div>

    <button class="add-item-button" (click)="openForm()" [ngStyle]="{display: hideFormButton ? 'none' : 'flex'}">
        <span class="material-icons">add</span>
    </button>

    <div class="add-item-container" #form [ngClass]="{'show-form': openform}" (swipedown)="onSwipeDownForm($event)">
        <div class="form-nav-bar">
            <h2 class="form-title">Add Items</h2>
            <div class="close-form" (click)="closeForm()">
                <span class="material-icons">clear</span>
            </div>
        </div>
        <form class="add-item-form" [formGroup]="addItemForm" (ngSubmit)="submitEvent()">
            <div class="input-wrapper invisible">
                <input type="text" placeholder="User ID" formControlName="user_id">
            </div>

            <div class="input-wrapper invisible">
                <input type="text" placeholder="Group ID" formControlName="group_id">
            </div>

            <div class="input-wrapper item-type">
                <label>Select Type</label>
                <select formControlName="item_type" required>
                    <option value="1">Event</option>
                    <!-- <option value="2">Reminder</option>
                    <option value="3">Task</option>
                    <option value="4">Budget</option>
                    <option value="5">Food</option> -->
                </select>
            </div>

            <div class="input-wrapper frequency">
                <label>Select Frequency</label>
                <select formControlName="frequency" required (change)="frequencyChange($event)">
                    <option value="0">Once</option>
                    <option value="1">Daily</option>
                    <option value="2">Weekly</option>
                    <option value="3">Bi-weekly</option>
                    <option value="4">Monthly</option>
                    <option value="5">Semi-annual</option>
                    <option value="6">Annual</option>
                </select>
            </div>

            <div class="input-wrapper item-title">
                <label>Title</label>
                <input type="text" placeholder="Title or name" formControlName="title" required>
            </div>

            <div class="input-wrapper event-description">
                <label class="description-label">Description</label>
                <textarea placeholder="Add description" formControlName="description"></textarea>
            </div>

            <div class="input-wrapper date-input">
                <label>Start Date</label>
                <input type="date" formControlName="start_date" (change)="onStartDateChange($event)" required/>
            </div>

            <div class="input-wrapper date-input-end">
                <label>End Date</label>
                <input type="date" formControlName="end_date" required/>
            </div>

            <div class="input-wrapper time-input">
                <label class="time-label">Start Time</label>
                <input type="time" formControlName="start_time" (change)="onStartTimeChange($event)" required/>
            </div>

            <div class="input-wrapper time-input-end">
                <label class="time-label">End Time</label>
                <input type="time" formControlName="end_time" required/>
            </div>

            <div class="input-wrapper time-all-day">
                <input id="all-day" type="checkbox" (change)="allDaySelected($event)" formControlName="all_day"/><label for="all-day">All day</label>
            </div>

            <div class="input-wrapper location-input">
                <label class="location-label">Location</label>
                <input type="text" placeholder="Location" formControlName="location">
            </div>

            <div class="input-wrapper">
                <button class="submit-form" type="submit" [disabled]="!addItemForm.valid">Add</button>
            </div>
        </form>
    </div>

</div>


<div *ngIf="this.loading" class="loading-container">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>