@import '..//..//variables';

.calendar_wrapper{
    width: 100%;
    height: 100%;
    position: relative;   
}

.month{
    width: 100%;
    z-index: 1;
    position: fixed;
    padding: 9px 0;
    // border-radius: 0 0 15px 15px;
    background-color: $primary;
    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .select-form{
        display: flex;
        align-items: center;
        justify-content: center;
        .date-selectors{
        display: block;
        background-image: none;
        .selector, .todays-day{
            margin-left: 10px;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 45px;
            transition: all .2s ease-in-out;
            color: $textwht;

            @media screen and (max-width: $mid-small) {
            font-size: 35px;
            }

            option {
            color: $textdrk;
            }

            &:hover {
            @media screen and (min-width: $mid-small) {
                color: $textdrk;
                opacity: .4;
            }
            }
        }
        .todays-day {
            width: 65px;
        }
        }
        .settings {
            position: absolute;
            right: 10px;
            background: transparent;
            border: none;
            color: $textwht;
            font-size: 20px;
        }
        .account_selector{
        // height: 45px;
        width: 200px;
        margin-left: 5px;
        background-color: transparent;
        border: 1px solid $primary;
        outline: none;
        font-size: 20px;
        color: $textwht;
        transition: all .2s ease-in-out;
        }
    }
    .calendar-controls{
        display: flex;
        justify-content: space-around;
        margin: 15px 0 10px;
        width: 200px;
        @media screen and (max-width: $mid-small) {
            width: 140px;
        }

        @media screen and (max-width: $sm-small) {
            width: 100px;
        }
        .prev{

        }
        .next{
            // right: 0px;
        }
        .button{
            font-weight: bold;
            background: transparent;
            border: none;
            z-index: 2;
            transition: all .2s ease-in-out;
            font-size: 12px;
            position: relative;
            color: $textwht;

            &:before {
                position: absolute;
                font-size: 30px;
                left: -1.5px;
                top: -13.6px;

                @-moz-document url-prefix() {
                left: 2.25px;
                }
            }

            &.current {

            }

            &.entypo-calendar {
                &:before {
                font-weight: 100;
                }
            }

            @media screen and (max-width: $end-small) {
                outline: none;
            }
        }
        .current::before {
            font-weight: 100px;

        }
        .button:hover{
            @media screen and (min-width: $mid-small) {
            color: $textdrk;
            opacity: .4;
            transition: all .2s ease-in-out;
            }
        }
    }

    .weekday-initials {
        display: flex;
        justify-content: center;
        padding: 10px 0 5px 0;

        // @media screen and (max-width: $end-small) {
        //   display: none !important;
        // }

        div {
        width: 24%;
        text-align: center;
        opacity: .45;

        &:nth-child(even) {
            border-right: 1px solid $textdrk;
            border-left: 1px solid $textdrk;
        }
        }
    }
}