<section id="calendarWrapper" class="calendar_wrapper">
    <div class="month">
        <div class="controls">
            <form class="select-form">
                <div class="date-selectors">
                    <select name="select" class="month-selector selector" id="month" (change)="changeCal()">
                    </select>
                    <select name="select" class="year-selector selector" id="year" (change)="changeCal()">
                    </select>
                </div>
            </form>
    
            <div class="calendar-controls">
                <button class="prev button entypo-left-open" (click)="prevClick()"></button>
                <button id="todays-day" class="current button entypo-calendar" (click)="currentClick()"></button>
                <button class="next button entypo-right-open" (click)="nextClick()"></button>
            </div>
        </div>
    
        <div class="weekday-initials">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
    
    </div>

    <div class="calendar-container">
        <div class="days first-row">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days second-row">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days third-row">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days fourth-row">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days fifth-row">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days sixth-row">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        
    </div>

    <button class="add-item-button entypo-list-add" (click)="openForm()"></button>
    <div class="add-item-form">
        <div class="form-nav">
            <h2>Place Items on Calendar</h2>
            <div class="close-form entypo-down-open" (click)="closeForm()"></div>
        </div>
        <form>
            <div class="input-wrapper">
                <label>Select Type</label>
                <div class="select-item">
                    <input class="checkbox" type="checkbox" id="checkbox1" checked />
                    <label (click)="selectItemEvent($event)" for="checkbox1" class="item_1">Event</label>
        
                    <input class="checkbox" type="checkbox" id="checkbox2" />
                    <label (click)="selectItemEvent($event)" for="checkbox2" class="item_2">Reminder</label>
        
                    <input class="checkbox" type="checkbox" id="checkbox3" />
                    <label (click)="selectItemEvent($event)" for="checkbox3" class="item_3">Task</label>
        
                    <input class="checkbox" type="checkbox" id="checkbox4" />
                    <label (click)="selectItemEvent($event)" for="checkbox4" class="item_4">Budget</label>
        
                    <input class="checkbox" type="checkbox" id="checkbox5" />
                    <label (click)="selectItemEvent($event)" for="checkbox5" class="item_5">Food</label>
                </div>
            </div>

            <div class="input-wrapper">
                <label>Select Frequency</label>
                <div class="checkbox">
                    <input class="frequency first-checkbox" type="checkbox" id="frequency1" value="Once" checked />
                    <label (click)="selectItemFreq($event)" for="frequency1" class="frequency_1">Once</label>
            
                    <input class="frequency" type="checkbox" value="Daily" id="frequency2" />
                    <label (click)="selectItemFreq($event)" for="frequency2" class="frequency_2">Daily</label>
            
                    <input class="frequency" type="checkbox" value="Weekly" id="frequency3" />
                    <label (click)="selectItemFreq($event)" for="frequency3" class="frequency_3">Weekly</label>
            
                    <input class="frequency" type="checkbox" value="Bi-weekly" id="frequency4" />
                    <label (click)="selectItemFreq($event)" for="frequency4" class="frequency_4">Bi-Weekly</label>
            
                    <input class="frequency" type="checkbox" value="Monthly" id="frequency5" />
                    <label (click)="selectItemFreq($event)" for="frequency5" class="frequency_5">Monthly</label>
            
                    <input class="frequency" type="checkbox" value="Semi-annual" id="frequency6" />
                    <label (click)="selectItemFreq($event)" for="frequency6" class="frequency_6">Semi-annual</label>
            
                    <input class="frequency" type="checkbox" value="Annual" id="frequency7" />
                    <label (click)="selectItemFreq($event)" for="frequency7" class="frequency_7">Annual</label>
                </div>
            </div>

            <div class="input-wrapper item-title">
                <label>Title</label>
                <input type="text" placeholder="Title or name">
            </div>
            
            <div class="input-wrapper date-input">
                <label>Select Date</label>
                <input type="date" />
            </div>

            <div class="input-wrapper event-description">
                <label class="description-label">Description</label>
                <textarea placeholder="Add description"></textarea>
            </div>
            
            <div class="input-wrapper time-input">
                <label class="time-label">Select Time</label>
                <input type="time" />
            </div>

            <div class="input-wrapper location-input">
                <label class="location-label">Location</label>
                <input type="text" placeholder="Location">
            </div>
    
            <div class="input-wrapper amount-input">
                <label class="amount-label">Amount</label>
                <input type="text" placeholder="Amount">
            </div>

            <div class="input-wrapper">
                <button class="submit-form" type="submit">Enter</button>
            </div>
        </form>
    </div>
</section>
