@import '..//..//variables';

.calendar-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;

    .calendar-navbar {
        position: fixed;
        width: 100%;
        background: red;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overscroll-behavior: none;

        &.mac {
            top: 54px;
        }

        .controls {
            
            width: 100%;
            padding: 5px 0;
            display: flex;
            align-items: center;

            @media screen and (min-width: $end-small) {
                width: 90%;
            }

            .selector {
                display: inline;
                margin-left: 10px;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 25px;
                transition: all .2s ease-in-out;
                color: $textwht;
                font-family: $globalFont !important;
                -moz-appearance: none;
                -webkit-appearance: none; 
                appearance: none;

                &:focus {
                    color: $textdrk;
                }

                &.month-selector {
                    margin-left: 10px;

                    @media screen and (min-width: $end-small) {
                        margin-left: 0;
                    }
                }
            }

            .calendar-controls {

                display: flex;
                justify-content: flex-end;
                width: 100%;

                .btn {
                    color: $textwht;
                    background: transparent;
                    border-radius: 5px;
                    margin: 0 15px;
                    border: 0;
                    position: relative;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    outline: 0;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 10px;
                        @media screen and (min-width: $end-small) {
                            margin-right: 0;
                        }
                    }

                    &:active {
                        color: $textdrk;
                    }

                    span {
                        font-size: 30px !important;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -42%);
                    }


                    &:before {
                        font-size: 30px;
                    }

                    &.entypo-calendar {
                        &:before {
                            font-weight: 100;
                        }
                    }
                }

            }

        }

        .weekday-initials {

            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .day-of-week-label {

                width: 14.285714285714286%;
                max-width: 14.285714285714286%;
                text-align: center;
                position: relative;
                background: $primary;
                padding: 4px 0;
                color: $background;
                opacity: .8;
                font-size: 14px;
                font-weight: bold;

                @media screen and (max-width: $end-small) {
                    font-size: 16px;
                }

                &.show-current-weekday {
                    color: $textwht;
                    opacity: 1;
                    border-radius: 5px;
                }

            }


        }


    }


    .calendar-container {

        width: 100%;
        height: calc(100% - 134px);
        padding: 5px 0;
        position: relative;
        top: 74px;

        @media screen and (min-width: $end-small) {
            height: calc(100% - 188px);
            overflow: auto;

            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-track {
                background: white;
            }
            &::-webkit-scrollbar-thumb {
                background: rgba(0, 0, 0, .2);
                border-radius: 50px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: rgba(126, 93, 93, 0.7); 
            }
        }

        .row {

            width: 100%;
            height: 16%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1px 0;
            padding: 1px 0;
            overflow: hidden;

            // &:nth-child(1) {
            //     margin-top: 5px;
            // }

            // &:nth-child(6) {
            //     margin-bottom: 5px;
            // }

            @media screen and (min-width: $end-small) {
                height: 19.2%;
            }

            @media screen and (max-height: $end-small) and (min-width: $end-small) {
                height: 21.2%;
            }

            .day-box {

                width: 14.2%;
                height: 100%;
                transition: height .3s ease-in-out !important;
                position: relative;

                button.close-day {
                    display: none;
                }

                .next-day, .prev-day {
                    display: none;
                }

                .date-value, .excel-date {
                    display: none;
                }

                .event-count {
                    position: absolute;
                    font-size: 7px;
                    left: 5%;
                    top: 8px;
                    border-radius: 100%;
                    color: #fff;
                    background-color: red;
                    padding: 0px 1px;
                }

                .num-box {
                    display: flex;
                    width: 11.5px;
                    margin: auto;
                    padding: 3px 5px;
                    border-radius: 100%;
                    position: relative;
                    top: 3px;
                    pointer-events: none;
                    color: $textdrk;

                    @media screen and (min-width: $end-small) {
                        width: 17px;
                    }

                    .num-date {
                        cursor: pointer;
                        font-size: 10px;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        -webkit-tap-highlight-color: transparent;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        outline: none !important;

                        @media screen and (min-width: $end-small) {
                            font-size: 12px;
                        }
                    }

                    &.current-day {
                        color: $primary;
                        font-weight: bold;
                    }
                }

                .main-info-section {
                    overflow: hidden;
                    height: calc(100% - 40px);
                    padding: 5px 10%;

                    @media screen and (min-width: $mid-small) {
                        padding: 5px;
                    }

                    &::-webkit-scrollbar {
                        width: 0px;
                    }

                    &.animate-events-one {
                        height: 0;
                    }

                    &.animate-events-two {
                        height: calc(100% - 60px);

                        @media screen and (min-width: $end-small) {
                            height: calc(100% - 65px);
                        }

                        @media screen and (max-height: 600px) {
                            height: calc(100% - 130px);
                        }

                        .event {

                            &:hover, &:focus {
                                input {
                                    display: inline;
                                    background: transparent;
                                    border: 0;
                                    position: absolute;
                                    right: 4%;
                                    top: -1px;
                                    font-size: 20px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .event {
                        font-size: 8px;
                        cursor: pointer;
                        height: 12px;
                        overflow: hidden;
                        margin: 0 0 3px;
                        padding: 2px 0 0 4%;
                        transition: all .2s ease-in-out;
                        position: relative;
                        display: none;

                        &.visible {
                            display: block;
                            border-left: 2px solid rgba(255,0,0,.8);
                            transition: all .2s ease-in-out;
                            pointer-events: none;
                            color: $textdrk;
                        }

                        @media screen and (min-width: $mid-small) {
                            text-align: left;
                            font-size: 9px;
                            height: 13px;
                        }

                        .event-details {
                            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                            -webkit-tap-highlight-color: transparent;
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            -khtml-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            outline: none !important;

                            &.title {
                                margin-top: 0;

                                span {
                                    display: none;
                                }
                            }
                        }

                        button {
                            display: none;
                            background-color: $primary;
                            color: $textwht;
                            border-radius: 5px;
                            border: 0;
                            font-size: 12px;

                            &:hover {
                                color: $textwht;
                            }

                            &.edit-event {
                                background-color: rgba(0, 0, 0, .8);
                                transition: all .3s ease-in-out;
                            }

                            &.delete-event {
                                transition: all .4s ease-in-out;
                            }
                        }
                    }

                    form {
                        display: none;

                        &.update-event-form, &.closed {
                            animation-name: shrink-2;
                            animation-duration: .3s;
                            animation-timing-function: ease-in-out;
                        }
                    }

                    @keyframes shrink-2{
                        from  {
                            top: default;
                        }

                        to {
                            top: 100%;
                        }
                    }
                }

                &.dead-month-color {
                    opacity: .3;
                    pointer-events: none;
                }

                &.clicked-day {
                    border: 1px solid #252525;
                    border-radius: 5px;
                    transition: all .3s ease-in-out;
                    animation-name: shrink-1;
                    animation-duration: .3s;
                    animation-timing-function: ease-in-out;

                    .num-date {
                        font-weight: bold;
                    }
                }

                @keyframes shrink-1 {
                    25% {transform: scale(.5, .5);}
                }

                &.double-click {
                    background: $background;
                    position: fixed;
                    top: 74px;
                    bottom: 53px;
                    height: calc(100% - 54px);
                    width: 100%;
                    max-width: 800px;
                    z-index: 99;
                    transition: height, width 0.3s ease-in-out !important;
                    border: none;
                    animation-name: grow;
                    animation-duration: .3s;
                    animation-timing-function: ease-in-out;
                    border-radius: 0;

                    transition: all 0.3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;

                    @media screen and (min-width: $end-small) {
                        top: 50%;
                        transform: translate(0,-49%);
                        height: 50%;
                        border: 1px solid #333333;
                        border-radius: 5px;
                    }

                    @media screen and (min-height: 600px) {
                        transform: translateY(-49%);
                        height: 59%;
                    }

                    @media screen and (min-height: 600px) and (max-width: $end-small) {
                        height: 80%;
                        transform: none;
                    }

                    button.close-day {
                        display: inline;
                        position: absolute;
                        top: 15px;
                        right: 0%;
                        background: transparent;
                        border-radius: 5px;
                        border: 0;
                        cursor: pointer;
                        outline: none;

                        span {
                            font-size: 25px;
                            color: #fff;
                        }

                        &:active {
                            color: $primary;
                        }
                    }

                    .mobile-hide {
                        display: none !important;
                    }

                    .next-day, .prev-day {
                        display: none;
                        position: absolute;
                        top: 45%;
                        color: $textdrk;
                        background: transparent;
                        border-radius: 5px;
                        border: 0;
                        font-size: 20px;
                        align-items: center;
                        outline: 0;
                        transform: translateY(-100%);
                        opacity: .5;
                        padding: 0;
                        z-index: 999;

                        @media screen and (min-width: $mid-small) {
                            display: flex;
                        }

                        @media screen and (min-width: $end-small) {
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        @media screen and (min-height: 600px) {
                            top: 50%;
                        }

                        span {
                            font-size: 35px !important;
                        }
                    }
                    .hide {
                        display: none !important;
                    }
                    .next-day {
                        right: 0;
                    }
                    .prev-day {
                        left: 0;
                    }

                    .event-count {
                        top: 20px;
                        left: 2%;
                        font-size: 9px;
                        padding: 2px 4px;
                    }

                    .num-box {
                        margin-bottom: 21px;
                        margin-top: 14px;
                        transition: all .3s ease-in-out;
                        .num-date {
                            font-size: 12px;

                            &:before {
                                color: $textdrk;
                                position: absolute;
                                content: "▾  swipe to close ▾";
                                top: -17px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 220px;
                                font-size: 11px;
                                opacity: .3;
                                animation-name: bounce-3;
                                animation-timing-function: ease-in-out;
                                animation-duration: 1s;
                                animation-iteration-count: infinite;
                                text-align: center;
                            }

                            @keyframes bounce-3 {
                                0%   { transform: translate(-50%, 0); }
                                50%  { transform: translate(-50%, 2px); }
                                100% { transform: translate(-50%, 0); }
                            }
                        }

                        .auto-hide {
                            &:before {
                                color: transparent;
                                transition: .5s all ease-in-out;
                            }
                        }

                        .mobile-hide-helpers {
                            &:before {
                                display: none;
                            }
                        }
                    }

                    .event-opened {
                        @media screen and (min-width: $end-small) {
                            width: 50%;
                            transition: all .3s ease-in-out;

                            -webkit-transform: translateZ(0);
                            -moz-transform: translateZ(0);
                            -ms-transform: translateZ(0);
                            -o-transform: translateZ(0);
                            transform: translateZ(0);

                            transition: all 0.3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;
                            -webkit-transition: all .3s ease-in-out;
                            -o-transition: all .3s ease-in-out;
                        }
                    }

                    .main-info-section {
                        padding: 0;
                        overflow: auto;
                        touch-action: pinch-zoom !important;

                        @media screen and (min-width: $end-small) {
                            width: 50%;
                        }

                        form {
                            padding: 5px 0;
                            @media screen and (max-width: $end-small) {
                                padding-bottom: 15px;
                            }
                        }

                        .event {
                            font-size: 16px !important;
                            height: auto !important;
                            overflow: initial !important;
                            text-align: left;
                            margin: 5px 4%;
                            padding: 2px 4% 4px;
                            pointer-events: all;
                            color: $textdrk;

                            @media screen and (min-width: $mid-small) {
                                margin: 5px 7.5%;
                            }

                            .event-details {
                                margin: 2px 0 0 0;
                                font-size: 11px;

                                &.frequency, &.end {
                                    display: none;
                                }

                                &.location {
                                    display: none;
                                }

                                &:last-of-type {
                                    font-size: 11px;
                                    padding-bottom: 4px;
                                }

                                &.title {
                                    display: inline;
                                }

                                &.description {
                                    display: none;
                                    &:before {
                                        content: " - ";
                                    }
                                }

                                &.item-type {
                                    display: none;
                                }

                                &.title {
                                    font-weight: bold;
                                    font-size: 12px;

                                    span {
                                        display: inline;
                                        font-weight: initial;
                                        
                                        &:before {
                                            content: '- '
                                        }
                                    }
                                }
                            }

                            &.selected-event {
                                background: rgba(255,0,0,.2);
                                border-radius: 5px;
                                transition: all .3s ease-in-out;

                                button {
                                    display: inline;
                                    margin-right: 5px;
                                    padding: 7px;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);

                                    &.delete-event {
                                        animation-name: appear;
                                        animation-duration: .3s;
                                        animation-timing-function: ease-in-out;transition: all .3s ease-in-out;

                                        &.hidden {
                                            visibility: hidden;
                                        }

                                        span {
                                            font-size: 20px !important;
                                        }
                                    }
                                }
                                @keyframes appear {
                                    0% { opacity: 0; }
                                    100% { opacity: 1; }
                                }
                            }
                        }

                        .update-event-form {

                            &.show-update-form {
                                display: block;
                                position: fixed;
                                top: 74px;
                                width: 100%;
                                bottom: 110px;
                                overflow: auto;
                                background: $background;
                                padding: 0;
                                animation-name: grow-2;
                                animation-duration: .3s;
                                animation-timing-function: ease-in-out;
                                overscroll-behavior: none;

                                transition: all 0.3s ease-in-out;
                                -moz-transition: all .3s ease-in-out;
                                -webkit-transition: all .3s ease-in-out;
                                -o-transition: all .3s ease-in-out;

                                @media screen and (min-width: $end-small) {
                                    top: 0px;
                                    right: 0;
                                    border-radius: 0 5px 5px 0;
                                    height: calc(99% - 0px);
                                    width: 50%;
                                    animation-name: slide-left;
                                    animation-duration: .3s;
                                    animation-timing-function: ease-in-out;
                                }

                                .form-nav-bar {
                                    position: sticky;
                                    top: -1px;
                                    background: $background;
                                    h2 {
                                        padding: 13px 4%;
                                        margin: 0 0 15px;

                                        input {
                                            color: #fff;
                                            font-size: 25px;
                                            background: transparent;
                                            border: 0;
                                            outline: 0;
                                            font-family: "Noto Sans", sans-serif;
                                        }

                                        &:before {
                                            color: $textdrk;
                                            position: absolute;
                                            content: "▾  swipe to close ▾";
                                            top: 1px;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            width: 220px;
                                            font-size: 11px;
                                            opacity: .3;
                                            animation-name: bounce-3;
                                            animation-timing-function: ease-in-out;
                                            animation-duration: 1s;
                                            animation-iteration-count: infinite;
                                            text-align: center;
                                        }
                                    }

                                    .auto-hide {
                                        &:before {
                                            color: transparent;
                                            transition: .5s all ease-in-out;
                                        }
                                    }

                                    .mobile-hide-helpers {
                                        &:before {
                                            display: none;
                                        }
                                    }

                                    .close-form {
                                        position: absolute;
                                        display: inline;
                                        top: 17px;
                                        right: 1%;
                                        background: transparent;
                                        border-radius: 5px;
                                        border: 0;
                                        cursor: pointer;
                                        color: $textwht;

                                        &:before {
                                            font-size: 20px;
                                            height: 30px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }

                                        &:active {
                                            color: $textdrk;
                                        }
                                    }
                                }

                                .input-wrapper {
                                    margin: 0 4%;

                                    @media screen and (min-width: $end-small) {
                                        margin: 0 6%;
                                    }

                                    &.invisible {
                                        visibility: hidden;
                                        height: 0;
                                        width: 0;
                                    }
                                }

                                label {
                                    display: block;
                                    margin: 0;
                                    padding: 0;
                                    width: 100%;
                                    font-weight: bold;
                                    font-size: 15px;
                                    color: $textdrk;
                                }

                                select, .date-input-update input, .date-input-end-update input, .time-input-end-update input, .item-title-update input , .event-description-update textarea, .amount-input-update input, .location-input-update input, .time-input-update input {
                                    width: 100%;
                                    padding: 10px 0;
                                    border: 0;
                                    border-bottom: 1px solid #252525;
                                    margin: 10px 0;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    font-size: 15px;
                                    transition: all .3s ease-in-out;
                                    background: transparent;
                                    color: $textdrk;

                                    &:focus, &:active {
                                        border: 0;
                                        border-bottom: 1px solid $primary;
                                        outline: 0;
                                        transition: all .3s ease-in-out;
                                        font-size: 16px;
                                    }
                                    &:-internal-autofill-selected {
                                        box-shadow: inset 0 0 0 100px transparent;
                                    }
                                }

                                .time-all-day {
                                    &::after {
                                        display: block;
                                        content: "";
                                        clear: both;
                                    }
                                    input {
                                        float: right;
                                        width: auto;
                                    }
                                    label {
                                        width: auto;
                                        float: right;
                                    }
                                }

                                textarea {
                                    height: 75px;
                                }

                                .submit-buttons {
                                    position: fixed;
                                    flex-direction: row-reverse;
                                    display: flex;
                                    justify-content: center;
                                    bottom:55px;
                                    background: $background;
                                    width: 100%;
                                    margin: 0;

                                    @media screen and (min-width: $end-small) {
                                        position: sticky;
                                        bottom: 0;
                                    }

                                    .submit-form, .delete-event {
                                        background-color: $background;
                                        color: $textwht;
                                        padding: 20px 0;
                                        border: 0;
                                        font-size: 20px;
                                        width: 50%;
                                        transition: all .3s ease-in-out;

                                        &:disabled {
                                            opacity: .3;
                                            transition: all .3s ease-in-out;
                                        }

                                        &:hover, &:focus {
                                            opacity: .5;
                                            transition: all .3s ease-in-out;
                                        }
                                    }
                                }

                                &::-webkit-scrollbar {
                                    width: 2px;
                                }
                                &::-webkit-scrollbar-track {
                                    background: transparent;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background: rgba(0, 0, 0, .2);
                                    border-radius: 50px;
                                }
                                &::-webkit-scrollbar-thumb:hover {
                                    background: rgba(126, 93, 93, 0.7); 
                                }
                            }

                            @keyframes grow-2 {
                                from  {
                                    top: 100%;
                                }

                                to {
                                    top: default;
                                }
                            }

                            @keyframes slide-left {
                                from  {
                                    right: -10%;
                                    opacity: 0;
                                }

                                to {
                                    right: 0;
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .normal-scrolling {
                        touch-action: pan-y !important;
                        overscroll-behavior: none;
                    }
                }

                &.swipe-right {
                    animation-name: swipeRight;
                    animation-duration: .3s;
                    animation-timing-function: ease-in-out;
                }

                &.swipe-left {
                    animation-name: swipeLeft;
                    animation-duration: .3s;
                    animation-timing-function: ease-in-out;
                }

                &.bounce-right {
                    animation-name: bounceRight;
                    animation-duration: .3s;
                    animation-timing-function: ease-in-out;
                }

                &.bounce-left {
                    animation-name: bounceLeft;
                    animation-duration: .3s;
                    animation-timing-function: ease-in-out;
                }

                @keyframes swipeRight {
                    from {
                        left: -100%;
                    }

                    to {
                        left: 0;
                    }
                }

                @keyframes swipeLeft {
                    from {
                        left: 100%;
                    }

                    to {
                        left: 0;
                    }
                }

                @keyframes bounceRight {
                    0% {
                        left: 0;
                    }

                    50% {
                        left: 15%;
                    }

                    100% {
                        left: 0;
                    }
                }
                
                @keyframes bounceLeft {
                    0% {
                        left: 0;
                    }

                    50% {
                        left: -15%;
                    }

                    100% {
                        left: 0;
                    }
                }

                @keyframes grow {
                    from {
                        transform: scale(.5, .5);
                    }

                    to {
                        transform: scale(1, 1);
                    }
                }

            }


        }

        .bottom-of-cal-fix {
            height: 53px;
        }


    }

    .cal-swipe-right {
        animation-name: calSwipeRight;
        animation-duration: .3s;
        animation-timing-function: ease-in-out;
    }
    .cal-swipe-left {
        animation-name: calSwipeLeft;
        animation-duration: .3s;
        animation-timing-function: ease-in-out;
    }

    @keyframes calSwipeLeft {
        from {
            left: -100%;
        }

        to {
            left: 0;
        }
    }
    @keyframes calSwipeRight {
        from {
            left: 100%;
        }

        to {
            left: 0;
        }
    }

    .add-item-button {
        padding: 15px;
        position: fixed;
        bottom: 60.9px;
        font-size: 20px;
        border-radius: 100%;
        border: none;
        background-color: $alert;
        color: $textwht;
        right: 10px;
        z-index: 9999;
        transition: all .3s ease-in-out;
        display: flex;
        // box-shadow: 1px 1px 10px #333333;

        @media screen and (min-width: $end-small) {
            bottom: 60.9px;
        }

        &:active {
            color: $textdrk;
        }

        @media screen and (min-width: $end-small) {
            right: 50%;
            transform: translateX(50%);
        }
    }


    .add-item-container {
        position: fixed;
        bottom: 60.9px;
        right: 12px;
        height: 50px;
        width: 50px;
        z-index: 99;
        border-radius: 100%;
        color: transparent;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        
        @media screen and (min-width: $end-small) {
            animation: none;
        }

        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, .2);
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(126, 93, 93, 0.7); 
        }

        @media screen and (min-width: $end-small) {
            right: 50% !important;
            bottom: 60.9px;
            width: 50px;
            height: 53px;
            transform: translateX(50%);
            overflow: hidden;
            border-radius: 100%;
            max-width: 800px;
        }

        &.show-form {
            height: calc(100% - 183px);
            width: 100%;
            background: $background;
            right: 0px;
            bottom: 49px;
            z-index: 99999;
            border-radius: 0;
            color: $textdrk;
            overflow: auto;
            margin-bottom: 60px;

            transition: all 0.3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;

            @media screen and (min-width: $end-small) {
                bottom: 50%;
                right: 50%;
                transform: translate(50%, 52%);
                height: 50%;
                width: 100%;
                max-width: 800px;
                border: 1px solid #333333;
                border-radius: 5px;
                animation: none;
            }

            @media screen and (min-height: 600px) and (min-width: $end-small) {
                transform: translate(50%, 68%);
                height: 60%;
            }
        }

        .normal-scrolling {
            touch-action: pan-y !important;
            overscroll-behavior: none;
        }

        .form-nav-bar {
            position: sticky;
            top: -1px;
            background: $background;
            h2 {
                padding: 13px 4%;
                margin: 0 0 15px;
                
                input {
                    color: #fff;
                    font-size: 25px;
                    background: transparent;
                    border: 0;
                    outline: 0;
                    font-family: "Noto Sans", sans-serif;
                }

                &:before {
                    color: $textdrk;
                    position: absolute;
                    content: "▾  swipe to close ▾";
                    top: 1px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 220px;
                    font-size: 11px;
                    opacity: .3;
                    animation-name: bounce-3;
                    animation-timing-function: ease-in-out;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    text-align: center;
                }
            }

            .auto-hide {
                &:before {
                    color: transparent;
                    transition: .5s all ease-in-out;
                }
            }

            .mobile-hide-helpers {
                &:before {
                    display: none;
                }
            }

            .close-form {
                position: absolute;
                display: inline;
                top: 17px;
                right: 1%;
                background: transparent;
                border-radius: 5px;
                border: 0;
                cursor: pointer;
                color: $textwht;

                &:before {
                    font-size: 20px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:active {
                    color: $textdrk;
                }
            }
        }

        .animate-events-one {
            display: none;
            &.form-nav-bar {
                display: block;
            }
        }

        .animate-events-two {
            display: block;
        }

        .input-wrapper {
            margin: 0 4%;

            &.invisible {
                visibility: hidden;
                height: 0;
                width: 0;
            }
        }

        label {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            font-weight: bold;
            font-size: 15px;
            color: $textdrk;
        }

        select, .date-input input, .date-input-end input, .time-input-end input, .item-title input , .event-description textarea, .amount-input input, .location-input input, .time-input input {
            width: 100%;
            padding: 10px 0;
            border: 0;
            border-bottom: 1px solid #252525;
            margin: 10px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 15px;
            transition: all .3s ease-in-out;
            background: transparent;
            color: $textdrk;

            &:focus, &:active {
                border: 0;
                border-bottom: 1px solid $primary;
                outline: 0;
                transition: all .3s ease-in-out;
                font-size: 16px;
            }
            &:-internal-autofill-selected {
                box-shadow: inset 0 0 0 100px transparent;
            }
        }

        .time-all-day {
            &::after {
                display: block;
                content: "";
                clear: both;
            }
            input {
                float: right;
                width: auto;
            }
            label {
                width: auto;
                float: right;
            }
        }

        textarea {
            height: 75px;
        }

        .submit-buttons {
            position: fixed;
            justify-content: center;
            bottom: 55px;
            background: $background;
            width: 100%;
            margin: 0;

            @media screen and (min-width: $end-small) {
                position: sticky;
                bottom: 0;
            }

            .submit-form {
                background-color: $background;
                color: $textwht;
                padding: 20px 0;
                border: 0;
                font-size: 20px;
                width: 100%;
                transition: all .3s ease-in-out;

                &:disabled {
                    opacity: .3;
                    transition: all .3s ease-in-out;
                }

                &:hover, &:focus {
                    opacity: .5;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  flex-direction: column-reverse;

    div.loading-text {
        color: $textdrk;
        font-size: 20px;

        span {
            margin: 0 3px;
            display: inline-block;
            animation-duration: .7s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-name: bouncy;

            &:nth-child(2) {
                animation-delay: .2s
            }

            &:last-child {
                animation-delay: .3s;
            }
        }

        @keyframes bouncy { 
            0% {transform: translateY(0);}
            50% {transform: translateY(-5px);}
            100% {transform: translateY(0);}
        } 
    }

    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    }
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

  img {
    width: 100%;
  }
}