@import '..//..//variables';

.calendar-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;

    .calendar-navbar {
        position: fixed;
        width: 100%;
        background: red;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &.mac {
            top: 57px;
        }

        .controls {
            
            width: 100%;
            padding: 5px 0;
            display: flex;
            align-items: center;

            .selector {
                display: inline;
                margin-left: 10px;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 25px;
                transition: all .2s ease-in-out;
                color: $textwht;
                font-family: $globalFont !important;

                &:focus {
                    color: $textdrk;
                }
            }

            .calendar-controls {

                display: flex;
                justify-content: flex-end;
                width: 100%;

                .btn {
                    color: $textwht;
                    background: transparent;
                    border-radius: 5px;
                    margin: 0 5px;
                    border: 0;
                    position: relative;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    outline: 0;

                    span {
                        padding: 6px 0 0 0;
                        font-size: 12px;
                        font-weight: bold;
                        position: absolute;
                        margin-left: 6px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-95%, -42%);
                    }


                    &:before {
                        font-size: 30px;
                    }

                    &.entypo-calendar {
                        &:before {
                            font-weight: 100;
                        }
                    }
                }

            }

        }

        .weekday-initials {

            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .day-of-week-label {

                // flex: 0 0 14.285714285714286%;
                width: 14.285714285714286%;
                max-width: 14.285714285714286%;
                text-align: center;
                position: relative;
                background: $primary;
                padding: 4px 0;
                color: $textdrk;
                opacity: .8;
                font-size: 14px;
                font-weight: bold;

                @media screen and (max-width: $end-small) {
                    font-size: 16px;
                }

                &.show-current-weekday {
                    color: $textwht;
                    opacity: 1;
                    border-radius: 5px;
                }

            }


        }


    }


    .calendar-container {

        width: 100%;
        height: calc(100% - 134px);
        padding: 5px 0;
        position: relative;
        top: 74px;

        @media screen and (min-width: $end-small) {
            height: calc(100% - 188px);
        }

        .row {

            width: 100%;
            height: 16%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1px 0;
            padding: 1px 0;
            overflow: hidden;

            &:nth-child(1) {
                margin-top: 5px;
            }

            &:nth-child(6) {
                margin-bottom: 5px;
            }

            @media screen and (min-width: $end-small) {

                height: 16.2%;

            }

            .day-box {

                width: 14.2%;
                height: 100%;
                // flex-grow: 1;
                transition: height .3s ease-in-out !important;
                position: relative;

                button.close-day {
                    display: none;
                }

                .date-value {
                    display: none;
                }

                .num-box {
                    display: flex;
                    width: 11.5px;
                    margin: auto;
                    padding: 5px;
                    border-radius: 100%;
                    position: relative;
                    top: 3px;
                    pointer-events: none;

                    @media screen and (min-width: $end-small) {
                        width: 17px;
                    }

                    .num-date {
                        cursor: pointer;
                        font-size: 10px;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        -webkit-tap-highlight-color: transparent;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        outline: none !important;

                        @media screen and (min-width: $end-small) {
                            font-size: 16px;
                        }
                    }

                    &.current-day {
                        background: $primary;
                        color: $textwht;
                    }
                }

                .main-info-section {
                    overflow: hidden;
                    height: calc(100% - 40px);
                    padding: 5px 10%;

                    @media screen and (min-width: $mid-small) {
                        padding: 5px;
                    }

                    &::-webkit-scrollbar {
                        width: 0px;
                    }

                    &.animate-events-one {
                        height: 0;
                    }

                    &.animate-events-two {
                        height: calc(100% - 150px);

                        @media screen and (min-width: $end-small) {
                            height: calc(100% - 50px);
                        }

                        .event {

                            &:hover, &:focus {
                                input {
                                    display: inline;
                                    background: transparent;
                                    border: 0;
                                    position: absolute;
                                    right: 4%;
                                    top: -1px;
                                    font-size: 20px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .event {
                        font-size: 9px;
                        cursor: pointer;
                        height: 10px;
                        overflow: hidden;
                        margin: 5px 0px;
                        padding: 2px 0 0 4%;
                        transition: all .2s ease-in-out;
                        position: relative;
                        display: none;

                        &.visible {
                            display: block;
                            border-left: 2px solid rgba(255,0,0,.8);
                            transition: all .2s ease-in-out;
                            pointer-events: none;
                        }

                        @media screen and (min-width: $mid-small) {
                            text-align: left;
                            font-size: 12px;
                            height: 13px;
                        }

                        .event-details {
                            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                            -webkit-tap-highlight-color: transparent;
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            -khtml-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            outline: none !important;

                            &.title {
                                margin-top: 0;

                                span {
                                    display: none;
                                }
                            }
                        }

                        button {
                            display: none;
                            background-color: $primary;
                            color: $textwht;
                            border-radius: 5px;
                            border: 0;
                            font-size: 12px;

                            &:hover {
                                color: $textwht;
                            }

                            &.edit-event {
                                background-color: rgba(0, 0, 0, .8);
                                transition: all .3s ease-in-out;
                            }

                            &.delete-event {
                                transition: all .4s ease-in-out;
                            }
                        }
                    }

                    form {
                        display: none;

                        &.update-event-form {
                            animation-name: shrink-2;
                            animation-duration: .3s;
                            animation-timing-function: ease-in-out;
                        }
                    }

                    @keyframes shrink-2{
                        25%  {transform: scale(.5, .5);}
                    }
                }

                &.dead-month-color {
                    opacity: .3;
                    pointer-events: none;
                }

                &.clicked-day {
                    border: 1px solid $textdrk;
                    border-radius: 5px;
                    transition: all .3s ease-in-out;
                    animation-name: shrink;
                    animation-duration: .3s;
                    animation-timing-function: ease-in-out;

                    .num-date {
                        font-weight: bold;
                    }
                }

                @keyframes shrink{
                    25%  {transform: scale(.5, .5);}
                }

                &.double-click {
                    background: #fff;
                    position: fixed;
                    top: 121.5px;
                    bottom: 53px;
                    height: calc(100% - 54px);
                    width: 100%;
                    max-width: 800px;
                    z-index: 99;
                    transition: height, width 0.3s ease-in-out !important;
                    border: none;
                    animation-name: grow;
                    animation-duration: .3s;
                    animation-timing-function: ease-in-out;
                    border-radius: 0;

                    @media screen and (min-width: $end-small) {
                        bottom: 50%;
                        transform: translate(0, 25%);
                        height: 50%;
                        border: 1px solid #333333;
                        border-radius: 5px;
                    }

                    button.close-day {
                        display: inline;
                        position: absolute;
                        top: 2px;
                        right: 4%;
                        background: transparent;
                        border-radius: 5px;
                        border: 0;
                        cursor: pointer;

                        &:before {
                            font-size: 30px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .num-box {
                        width: 22.5px;

                        .num-date {
                            font-size: 20px;
                        }
                    }

                    .main-info-section {
                        padding: 0;
                        margin: 5px 0;
                        overflow: auto;

                        form {
                            padding: 5px 0;
                            @media screen and (max-width: $end-small) {
                                padding-bottom: 15px;
                            }
                        }

                        .event {
                            font-size: 16px !important;
                            height: auto !important;
                            overflow: initial !important;
                            text-align: left;
                            margin: 5px 4%;
                            padding: 2px 55px 5px 4%;
                            pointer-events: all;

                            .event-details {
                                margin: 5px 0 0 0;

                                &.frequency {
                                    display: none;
                                }

                                &:last-of-type {
                                    font-size: 14px;
                                    padding-bottom: 5px;
                                }

                                &.title {
                                    font-weight: bold;

                                    span {
                                        display: inline;
                                        font-weight: initial;
                                        
                                        &:before {
                                            content: '- '
                                        }
                                    }
                                }
                            }

                            &.selected-event {
                                background: rgba(255,0,0,.2);
                                border-radius: 5px;
                                transition: all .3s ease-in-out;
                                button {
                                    display: inline;
                                    margin-right: 5px;
                                    padding: 7px;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);

                                    &.delete-event {
                                        animation-name: appear;
                                        animation-duration: .3s;
                                        animation-timing-function: ease-in-out;transition: all .3s ease-in-out;
                                    }
                                }
                                @keyframes appear {
                                    0% { opacity: 0; }
                                    100% { opacity: 1; }
                                }
                            }
                        }

                        .update-event-form {
                            &.show-update-form {
                                display: block;
                                position: fixed;
                                top: 121px;
                                width: 100%;
                                height: calc(100% - 125px);
                                overflow: auto;
                                background: $textwht;
                                padding: 0;
                                animation-name: grow-2;
                                animation-duration: .3s;
                                animation-timing-function: ease-in-out;

                                @media screen and (min-width: $end-small) {
                                    top: 0px;
                                    border-radius: 5px;
                                    height: calc(100% - 10px);
                                }

                                .form-nav-bar {
                                    position: sticky;
                                    top: 0;
                                    background: $primary;
                                    h2 {
                                        padding: 13px 4%;
                                        margin: 0 0 15px;
                                        color: #fff;
                                    }

                                    .close-form {
                                        position: absolute;
                                        display: inline;
                                        top: 13px;
                                        right: 4%;
                                        background: transparent;
                                        border-radius: 5px;
                                        border: 0;
                                        cursor: pointer;
                                        color: $textwht;

                                        &:before {
                                            font-size: 30px;
                                            height: 30px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }
                                    }
                                }

                                .input-wrapper {
                                    margin: 0 4%;
                                }

                                label {
                                    display: block;
                                    margin: 0;
                                    padding: 0;
                                    width: 100%;
                                    font-weight: bold;
                                    font-size: 15px;
                                }

                                .event-id-update {
                                    display: none;
                                }

                                select, .date-input-update input, .date-input-end-update input, .time-input-end-update input, .item-title-update input , .event-description-update textarea, .amount-input-update input, .location-input-update input, .time-input-update input {
                                    width: 100%;
                                    padding: 10px 0;
                                    border: 0;
                                    border-bottom: 1px solid #c4c7cc;
                                    margin: 10px 0;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    font-size: 15px;
                                    transition: all .3s ease-in-out;
                                    background: transparent;
                                    color: $textdrk;

                                    &:focus, &:active {
                                        border: 0;
                                        border-bottom: 1px solid $primary;
                                        outline: 0;
                                        transition: all .3s ease-in-out;
                                        font-size: 16px;
                                    }
                                    &:-internal-autofill-selected {
                                        box-shadow: inset 0 0 0 100px transparent;
                                    }
                                }

                                textarea {
                                    height: 75px;
                                }

                                button.submit-form {
                                    background-color: $alert;
                                    color: $textwht;
                                    border-radius: 5px;
                                    padding: 10px;
                                    border: 0;
                                    font-size: 15px;
                                    float: right;
                                    margin: 20px 0;

                                    &:disabled {
                                        opacity: .3;
                                    }
                                }

                                &::-webkit-scrollbar {
                                    width: 4px;
                                }
                                &::-webkit-scrollbar-track {
                                    background: transparent;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background: rgba(0, 0, 0, .2);
                                    border-radius: 50px;
                                }
                                &::-webkit-scrollbar-thumb:hover {
                                    background: rgba(126, 93, 93, 0.7); 
                                }
                            }

                            @keyframes grow-2 {
                                25%  {transform: scale(.95, .95);}
                            }
                        }
                    }
                }

                @keyframes grow {
                    25%  {transform: scale(1, .90);}
                }

            }


        }

        .bottom-of-cal-fix {
            height: 53px;
        }


    }

    .add-item-button {
        padding: 15px;
        position: fixed;
        bottom: 5px;
        font-size: 20px;
        border-radius: 100%;
        border: none;
        background-color: $alert;
        color: $textwht;
        right: 20px;
        z-index: 9999;
        transition: all .3s ease-in-out;
        // box-shadow: 1px 1px 10px #333333;

        @media screen and (min-width: $end-small) {
            bottom: 60.9px;
        }

        &:hover {
            &:before {
                @media screen and (min-width: $mid-small) {
                    color: #333333;
                    opacity: .4;
                    transition: all .2s ease-in-out;
                }
            }
        }

        @media screen and (min-width: $end-small) {
            right: 50%;
            transform: translateX(50%);
        }
    }


    .add-item-container {
        position: fixed;
        bottom: 5px;
        right: 20px;
        height: 53px;
        width: 50px;
        transition: all 0.3s ease-in-out;
        z-index: 99;
        border-radius: 100%;
        color: transparent;
        overflow: hidden;
        animation-name: shrink;
        animation-duration: .4s;
        animation-timing-function: ease-in-out;
        
        @media screen and (min-width: $end-small) {
            animation: none;
        }

        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, .2);
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(126, 93, 93, 0.7); 
        }

        @media screen and (min-width: $end-small) {
            right: 50% !important;
            bottom: 60.9px;
            width: 50px;
            height: 53px;
            transform: translateX(50%);
            overflow: hidden;
            border-radius: 100%;
            max-width: 800px;
        }

        &.show-form {
            height: calc(100% - 107px);
            width: 100%;
            padding-bottom: 15px;
            background: #fff;
            transition: all 0.3s ease-in-out;
            right: 0px;
            bottom: 0;
            z-index: 99999;
            border-radius: 0;
            color: $textdrk;
            overflow: auto;
            animation-name: grow;
            animation-duration: .4s;
            animation-timing-function: ease-in-out;

            @media screen and (min-width: $end-small) {
                bottom: 50%;
                right: 50%;
                transform: translate(50%, 50%);
                height: 50%;
                width: 100%;
                max-width: 800px;
                border: 1px solid #333333;
                border-radius: 5px;
                animation: none;
            }
        }

        @keyframes grow{
            25%  {transform: scale(1, .90);}
        }

        .form-nav-bar {
            position: sticky;
            top: 0;
            background: $primary;
            h2 {
                padding: 13px 4%;
                margin: 0 0 15px;
                color: #fff;
            }

            .close-form {
                position: absolute;
                display: inline;
                top: 13px;
                right: 4%;
                background: transparent;
                border-radius: 5px;
                border: 0;
                cursor: pointer;
                color: $textwht;

                &:before {
                    font-size: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .animate-events-one {
            display: none;
            &.form-nav-bar {
                display: block;
            }
        }

        .animate-events-two {
            display: block;
        }

        .input-wrapper {
            margin: 0 4%;
        }

        label {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            font-weight: bold;
            font-size: 15px;
        }

        select, .date-input input, .date-input-end input, .time-input-end input, .item-title input , .event-description textarea, .amount-input input, .location-input input, .time-input input {
            width: 100%;
            padding: 10px 0;
            border: 0;
            border-bottom: 1px solid #c4c7cc;
            margin: 10px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 15px;
            transition: all .3s ease-in-out;
            background: transparent;
            color: $textdrk;

            &:focus, &:active {
                border: 0;
                border-bottom: 1px solid $primary;
                outline: 0;
                transition: all .3s ease-in-out;
                font-size: 16px;
            }
            &:-internal-autofill-selected {
                box-shadow: inset 0 0 0 100px transparent;
            }
        }

        textarea {
            height: 75px;
        }

        button.submit-form {
            background-color: $alert;
            color: $textwht;
            border-radius: 5px;
            padding: 10px;
            border: 0;
            font-size: 15px;
            float: right;
            margin: 20px 0;

            &:disabled {
                opacity: .3;
            }
        }
    }

    @keyframes shrink{
        25%  {transform: scale(.5, .5);}
    }





}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;

    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    }
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

  img {
    width: 100%;
  }
}