<section id="calendarWrapper" class="calendar_wrapper">
    <div class="month">
        <div class="controls">
            <form class="select-form">
                <div class="date-selectors">
                    <select name="select" class="month-selector selector" id="month" (change)="changeCal()">
                    </select>
                    <select name="select" class="year-selector selector" id="year" (change)="changeCal()">
                    </select>
                </div>
            </form>
    
            <div class="calendar-controls">
                <button class="prev button entypo-left-open" (click)="prevClick()"></button>
                <button id="todays-day" class="current button entypo-calendar" (click)="currentClick()"></button>
                <button class="next button entypo-right-open" (click)="nextClick()"></button>
            </div>
        </div>
    
        <div class="weekday-initials">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
    
    </div>

    <div class="calendar-container">
        <div class="days">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        <div class="days">
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
            <div id="num-box" class="num-box dead_month_color" (click)="clickonDay($event)">
                <div class="weekday"><span class="num-date"></span></div>
                <div class="main-info"></div>
                <div class="date-value"></div>
                <div class="open-day entypo-up-open" (click)="openDay($event)"></div>
                <div class="close-day entypo-down-open" (click)="closeDay($event)"></div>
            </div>
        </div>
        
    </div>

</section>
