<div class="settings-container">
    <div class="settings-nav">
        <h2>Settings</h2>
    </div>

    <div class="settings-info">
        <div class="input-wrapper update">
            <label>General</label>
            
        </div>
        <div class="input-wrapper update">
            <label>Theme</label>
            
        </div>
        <div class="input-wrapper update">
            <label>Advanced</label>
            
        </div>

    </div>
    <div class="bottom">

    </div>
</div>

<div *ngIf="this.loading" class="loading-container">
    <div class="loading-text">
        Loading Settings <span>.</span><span>.</span><span>.</span>
    </div>
    <!-- <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->
</div>