@import '..//..//variables';

.settings-container {
    // position: fixed;
    // margin: auto;
    // bottom: 50%;
    // height: 400px;
    // width: 100%;
    // max-width: $end-small;
    // overflow: initial;
    // transition: width .4s, height .4s, border-radius .5s;
    // transition-timing-function: ease-in-out;
    // background-color: $textwht;
    // box-shadow: 1px 1px 10px $textdrk;
    // float: none;
    // overflow: auto;
    // transform: translate(50%, 50%);
    // color: $textdrk;
    // border-radius: 5px;

    // &::-webkit-scrollbar {
    //   width: 4px;
    // }
    // &::-webkit-scrollbar-track {
    //   background: transparent;
    // }
    // &::-webkit-scrollbar-thumb {
    //   background: rgba(0, 0, 0, .2);
    //   border-radius: 50px;
    // }
    // &::-webkit-scrollbar-thumb:hover {
    //   background: rgba(126, 93, 93, 0.7); 
    // }

    // @media screen and (max-width: $end-small) {
    //     width: 100%;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     height: 100vh;
    //     top: 0px;
    //     transform: translateX(0);
    //     border-radius: 0;
    //     border: 0;
    //     box-shadow: none;
    // }

    .settings-nav {
        padding: 15px 0 15px 0px;
        background: red;
        color: #fff;
        text-align: center;
        position: sticky;
        top: 0;

        h2 {
            margin: 0;
        }
    }

    .settings-info {
        text-align: center;

        .input-wrapper.update {
            padding: 20px 20px 0;
            text-align: left;
            // color: $textwht;

            label {
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                text-align: left;
                font-weight: bold;
            }
        }

        button {
        background-color: red;
        color: #fff;
        border-radius: 10px;
        padding: 10px;
        border: 0;
        font-size: 15px;
        margin: 20px auto;
        display: block;

        &:disabled {
          opacity: .3;
        }
      }

        form {
            padding: 20px 0;
            .input-wrapper {
            width: 100%;
            }

            label {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: left;
            font-weight: bold;
            font-size: 15px;
        }

        input {
            width: 100%;
            padding: 10px 0;
            border: 0;
            border-bottom: 1px solid #c4c7cc;
            margin: 10px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 15px;
            transition: all .3s ease-in-out;
            background: transparent;
            // color: $textwht;

            &:focus, &:active {
                border: 0;
                border-bottom: 1px solid $primary;
                outline: 0;
                transition: all .3s ease-in-out;
                font-size: 16px;
            }
            &:-internal-autofill-selected {
                box-shadow: inset 0 0 0 100px #fff;
            }
        }

        .update {
            background-color: red;
            color: #fff;
            border-radius: 10px;
            padding: 10px;
            border: 0;
            font-size: 15px;
            margin: 20px auto;
            display: block;
            transition: all .3s ease-in-out;

            &:disabled {
                opacity: .3;
                display: none;
                transition: all .3s ease-in-out;
            }
        }
        }
    }

    .settings-wrapper {
        text-align: center;

        button {
        background-color: red;
        color: #fff;
        border-radius: 10px;
        padding: 10px;
        border: 0;
        font-size: 15px;
        margin: 20px auto;
        display: block;

        &:disabled {
          opacity: .3;
        }
      }
    }

    .bottom {
        height: 53px !important;
    }
}